<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->

  <connectionStrings xdt:Transform="Replace" configProtectionProvider="RsaProtectedConfigurationProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>gPn71pjisUkGGndl6M668rV58RqxU+7DnKzGa0b6hSO2+l+JAPz/v8Y6vwBCSgMtYmJyp5AXE5g44vRWhWs9Y6hDx5j/IR6+/TCshVae2qF424NRo/cVe8EjdPLU213GMnEJUtmsiZGS43xaVUFEUmOe1yWX2WftrCLhjIhnpCs=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>rYg+Kzl9VkWdecolvybppFLCU55+A+Og7cHEu/WbQoazXSdyLxS68SpRGCQwuNRh9r6DwetBcNaRf/ZD6msdsLS7tI772HCahv/FZjiN4NNInzmQsdT2NQ9BhCDeCOV40Jgl2bTfywE8/8+BeCr7ZquWCU4yu0NVntmqrS/UYVtIx+wKyFF6M63fkwAC+Y/RAzKBdhmRPTcjCsnI0ADQheH+SdKJDKrfvQ7cClRB37bSnCCyrXj7xGOsXO9pn6gjU1fmQook+RDlrUwCzWJD4k+kFIHANF22lN5TRape4XnCgrxg6xPKwGVdRkpi4fA5eL4tuVMELlNP/1zwfgV3Q+xmE/lAKzoQ9MsPlcUAQRPlOEbgtQNkNmLKQXJLD/fWnXAMB5Q5M0+WqjJheQUzp4edf/kYsaOR</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="db:CreateTestDataOnInitialization" value="true" />
    <add key="Env" value="Production"/>
  </appSettings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors xdt:Transform="Replace" mode="On"></customErrors>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
  <elmah xdt:Transform="Replace">
    <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for 
        more information on remote access and securing ELMAH.
    -->
    <errorLog type="Elmah.SqlServerCompactErrorLog, Elmah" connectionStringName="ElmahDB" applicationName="Baseline.Web[Prod]"/>
    <security allowRemoteAccess="false" />
  </elmah>
</configuration>